[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:tamaskenez/imgui-cmake.git
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/imfilebrowser"]
	path = src/imfilebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
